@import 'bootstrap';
$main_color: #f06;

body {
  background: #1D1F20 !important;
  color: white !important;
  padding: 0 10px;
}
.row {
  padding: 20px;
}
.alert:empty { display: none; }
.logo {
  font-size: 38px;
  color: $main_color;
}

.btn-magenta {
  border: 1px solid $main_color !important;
  background: transparent;
  &:hover {
    background: $main_color;
  }
}
.text-editor {
  height: 500px;
  ul {
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 15px;
      &::before {
        width: 10px;
        display: inline-block;
        color: $main_color;
        content: ' ';
        cursor: pointer;
        margin-right: 10px;
      }
      &:not(.add-more):hover {
        &::before {
          content: 'x';
        }
      }
      input {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid;
        width: 90%;
        &:focus {
          outline: 0;
        }
      }
      .screenshot-icon {
        display: inline-block;
        width: 30px;
        height: 15px;
        background: url('http://s14.postimg.org/4timsj63h/screenshot_icon.png') no-repeat center center;
        background-size: contain;
        cursor: pointer;
      }
    }
  }
  .variables-list {
    li {
      input {
        width: 300px;
        border-color: $main_color;
      }
    }
  }
}
.preview {
  min-height: 500px;
  border-left: 1px solid $main_color;
  .screenshot_container {
    img {
      width: 100%;
    }
  }
}
